{% extends "lacy/base.html" %}
{% load static %}
{% block title %}
LaCy - 404
{% endblock title %}

{% block content %}
      <div id="content">
        <div class="container">
          <div id="error-page" class="col-md-8 mx-auto text-center">
            <div class="box">
              <p class="text-center"><a href="{% url 'lacy:home' %}"><img src="{% static 'lacy/img/logo1.png' %}" alt="Lacy Logo"></a></p>
              <h3>We are sorry - this page is not here anymore</h3>
              <h4 class="text-muted">Error 404 - Page not found</h4>
              <p class="buttons"><a href="{% url 'lacy:home' %}" class="btn btn-template-outlined"><i class="fa fa-home"></i> Go to Homepage</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- GET IT-->
{% endblock content %}