<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %} {% endblock title %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="all,follow">
		{% load static %}
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="{% static 'lacy/vendor/bootstrap/css/bootstrap.min.css' %}">
		<!-- Font Awesome CSS-->
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<!-- Google fonts - Roboto-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
		<!-- Bootstrap Select-->
		<link rel="stylesheet" href="{% static 'lacy/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
		<!-- owl carousel-->
		<link rel="stylesheet" href="{% static 'lacy/vendor/owl.carousel/assets/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'lacy/vendor/owl.carousel/assets/owl.theme.default.css' %}">
		<!-- theme stylesheet-->
		<link rel="stylesheet" href="{% static 'lacy/css/style.orange.css' %}" id="theme-stylesheet">
		<!-- Custom stylesheet - for your changes-->
		<link rel="stylesheet" href="{% static 'lacy/css/custom.css' %}">
  </head>
  <body>
    <div id="all">
      <!-- Top bar-->
      <div class="top-bar">
        <div class="container">
          <div class="row d-flex align-items-center">
              <div class="col-md-6 d-md-block d-none">
              <p></p>
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-md-end justify-content-between">
                <ul class="list-inline contact-info d-block d-md-none">

                </ul>
                <div class="login">
                  {% if user.is_authenticated %}
                    <div class="login-btn"></div>
                    <i class="fas fa-user"></i> <span class="d-none d-md-inline-block"> {{user.first_name}}</span>
                    <a href="{% url 'account_logout' %}"class="login-btn">
                    <i class="fa fa-sign-out"></i><span class="d-none d-md-inline-block">Sign Out</span>
                  </a>
                  {% else %}
                  <a href="{% url 'account_login' %}"class="login-btn">
                    <i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Sign In</span>
                  </a>
                  <a href="{% url 'account_signup' %}" class="signup-btn">
                    <i class="fa fa-user"></i><span class="d-none d-md-inline-block">Sign Up</span>
                  </a>
                  {% endif %}
                  <a href="{%url 'lacy:cart'%}" class="signup-btn">
                    <i class="fa fa-shopping-cart"></i><span class="d-none d-md-inline-block">Cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top bar end-->
      <!-- Navbar Start-->
      <header class="nav-holder make-sticky">
        <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
          <div class="container"><a href="{% url 'lacy:home' %}" class="navbar-brand home"><img src="{% static 'lacy/img/logo-small.png' %}" alt="Universal logo" class="logo d-none d-md-inline-block"><img src="{% static 'lacy/img/logo-small.png' %}" alt="Universal logo" class="logo-small d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
              <ul class="nav navbar-nav ml-auto">

                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">products <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% for category in category_list %}
                      <li class="dropdown-item"><a href="{% url 'lacy:products' category.id%}" class="nav-link">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">services <b class="caret"></b></a>
                  <ul class="dropdown-menu">

                    <li class="dropdown-item"><a href="{% url 'lacy:services' 0%}" class="nav-link">Enterprise services</a></li>
                    <li class="dropdown-item"><a href="{% url 'lacy:services' 1%}" class="nav-link">Personal services</a></li>
                  </ul>
                </li>
                <!-- ========== FULL WIDTH MEGAMENU ==================-->

                <!-- ========== FULL WIDTH MEGAMENU END ==================-->
                <!-- ========== Contact dropdown ==================-->
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Contact <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="{% url 'lacy:contact' %}" class="nav-link">Contact Us</a></li>
                    <li class="dropdown-item"><a href="{% url 'lacy:team' %}" class="nav-link">Our Team</a></li>
                  </ul>
                </li>
                <!-- ========== Contact dropdown end ==================-->
              </ul>
            </div>
            <div id="search" class="collapse clearfix">
              <form role="search" class="navbar-form">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- Navbar End-->

      {% block content %}
	  {% endblock content %}

      <!-- GET IT-->

      <!-- FOOTER -->
      <footer class="main-footer" style="padding:0px">

        <div class="copyrights" style="margin:0px">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center-md">
                <p>&copy; 5GIENSPY 2019  </p>
              </div>
              <div class="col-lg-8 text-right text-center-md">
                <p><a href="#">Lacy ENSPY</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </div>
    </footer>
</div>
<!-- Javascript files-->
<script src="{% static 'lacy/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lacy/vendor/popper.js/umd/popper.min.js' %}"></script>
<script src="{% static 'lacy/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lacy/vendor/jquery.cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'lacy/vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'lacy/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'lacy/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lacy/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
<script src="{% static 'lacy/js/jquery.parallax-1.1.3.js' %}"></script>
<script src="{% static 'lacy/vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lacy/vendor/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'lacy/js/front.js' %}"></script>
<script>
    function search() {
      // Declare variables
      var input, filter, a, i, txtValue, div,prod_element;

      input = document.getElementById('search_input');
      filter = input.value.toUpperCase();

      div = document.getElementById("list_products");
      prod_element = div.getElementsByClassName('prodelement');


      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < prod_element.length; i++) {

        a = prod_element[i].getElementsByTagName("a")[1];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          prod_element[i].style.display = "";
        } else {
          prod_element[i].style.display = "none";
        }
      }
    }
  </script>
{% block script %}
{% endblock script %}
</body>
</html>