{% extends "lacy/base.html" %}

{% block title %}
	LaCy - Bug Detect
{% endblock title %}

{% block content %}
		<main role="main">
			<div class="container py-4" id="content">
				<div class="row justify-content-center mt-4">
					<div class="col-md-6 text-center"><h1 class="service-title">Bug detector</h1></div>
				</div>
				<div class="row justify-content-center mb-3 my-4">
					<div class="col-sm-10 card">
						<div class="card-body">
							<form action="{% url 'lacy:bug_detect' %}" enctype="multipart/form-data" method="POST" class="needs-validation card-body" novalidate>
                                {% csrf_token %}
								<div class="form-row justify-content-center">
									<div class="col-md-6">
										<div class="custom-file">
										<input type="file" name="file-upload" class="custom-file-input" id="validatedCustomFile" required>
										<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
										<div class="invalid-feedback">Example invalid custom file feedback</div>
										</div>
									</div>
									<div class="col-md-3"><button class="btn btn-orange" type="submit">Analyse file</button></div>
								</div>
							  </form>
							</div>

						</div>
						<div class="col-sm-10 card px-4 py-4">
							<h4>Results</h4>
							<div class="card-body" id="results">
								{{ output }}
							</div>
						</div>
					</div>

				</div>
			</div>
		</main>
{% endblock content %}
