{% extends "lacy/base.html" %}

{% block title %}
LaCy - Home
{% endblock title %}

{% block content %}
<main role="main">
   <section class="jumbotron">
      <div class="container">
         <h1 class="jumbotron-heading">Welcome to LaCy!</h1>

         <p class="text-right">
             LaCy is a cybersecurity laboratory located at the National Advanced School of Engineering. It puts at your disposal a set of products, services and training
         </p>
      </div>
   </section>
   <div class="row">
      <div class="container py-5">
         <div class="row" id="services">
            <div class="col-sm-12 text-center service-head">
               Services
               <hr>
            </div>
            <div class="col-sm-12 row py-4">
               <div class="col-sm-12 service-sub mb-2">
                  Personal Services
               </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
	                  <div class="card">
                        <div class="card-header text-center">
	                        <div class="service-title">
                                <a href="{% url 'lacy:encryption' %}" title="">
	                        		{{ encryption_service.name }}
                                </a>
	                        </div>
	                  	</div>
	                     <div class="card-body">
                            {% if encryption_service.image %}
                               <img class="img-fluid" style="height:200px; object-fit:cover;" src="{{ encryption_service.image.url }}" alt="">
                            {% endif %}
	                     </div>
	                     <div class="card-footer">
			                  <div class="card-text text-center">
			                     <h6 class="price-tag">not Free</h6>
			                  </div>
			               </div>
	                  </div>
	               </div>
                   <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
	                  <div class="card">
                        <div class="card-header text-center">
	                        <div class="service-title">
                                <a href="{% url 'lacy:bug_detect'%}" title="">
	                        		{{ debug_code_service.name }}
                                </a>
	                        </div>
	                  	</div>
	                     <div class="card-body">
                            {% if debug_code_service.image %}
                               <img class="img-fluid" style="height:200px; object-fit:cover;" src="{{ debug_code_service.image.url }}" alt="">
                            {% endif %}
	                     </div>
	                     <div class="card-footer">
			                  <div class="card-text text-center">
			                     <h6 class="price-tag">not Free</h6>
			                  </div>
			               </div>
	                  </div>
	               </div>
                   <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
	                  <div class="card">
                        <div class="card-header text-center">
	                        <div class="service-title">
                                <a href="{% url 'lacy:signature' %}" title="">
	                        		{{ signature_service.name }}
                                </a>
	                        </div>
	                  	</div>
	                     <div class="card-body">
                            {% if signature_service.image %}
                               <img class="img-fluid" style="height:200px; object-fit:cover;" src="{{ signature_service.image.url }}" alt="">
                            {% endif %}
	                     </div>
	                     <div class="card-footer">
			                  <div class="card-text text-center">
			                     <h6 class="price-tag">not Free</h6>
			                  </div>
			               </div>
	                  </div>
	               </div>
               {% for personal_service in personal_service_list %}
	               <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
	                  <div class="card">
                        <div class="card-header text-center">
	                        <div class="service-title">
                                <a href="{% url 'lacy:personalService' personal_service.id%}" title="">
	                        		{{ personal_service.name }}
                                </a>
	                        </div>
	                  	</div>
	                     <div class="card-body">
                            {% if personal_service.image %}
                               <img class="img-fluid" style="height:200px; object-fit:cover;" src="{{ personal_service.image.url }}" alt="">
                            {% endif %}
	                     </div>
	                     <div class="card-footer">
			                  <div class="card-text text-center">
			                     <h6 class="price-tag"> Free </h6>
			                  </div>
			               </div>
	                  </div>
	               </div>
               {% endfor %}
            </div>
            <div class="col-sm-12 row py-4">
               <div class="col-sm-12 service-sub d-flex mb-4">
                  Enterprise Services
               </div>
               {% for enterprise_service in enterprise_service_list %}
	               <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
	                  <div class="card">
	                  	<div class="card-header text-center">
	                        <div class="service-title">
	                        	<a href="{% url 'lacy:service' enterprise_service.id%}" title="">
	                        		{{ enterprise_service.name }}
	                        	</a>
	                        </div>
	                  	</div>
	                     <div class="card-body text-justify">
	                        {{ enterprise_service.description | truncatewords:"14"}}
	                     </div>
	                  </div>
	               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
   </div>
   <div class="row white" id="training">
      <div class="container py-5">
         <div class="row">
            <div class="col-sm-12 text-center service-head">
               Training
               <hr>
            </div>
            <div class="row my-5 col-sm-12 training-body">
               <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                     <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Introduction to cybersecurity</a>
                     <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">...</a>
                     <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">...</a>
                     <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">...</a>
                  </div>
               </div>
               <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                     <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                         This is an introduction to cybersecurity course that includes the following modules:
                         <ul>
                             <li>Basics of security</li>
                             <li>Risk management</li>
                             <li>Attacks and countermeasures</li>
                             <li>Operating system security</li>
                             <li>Network protection</li>
                             <li>Data security and databases</li>
                             <li>Privacy and protection on the Internet, Secure programming</li>
                         </ul>
                     </div>
                     <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                     <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                     <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-12 row text-center justify-content-center">
            <a class="btn btn-orange px-5" href="http://139.59.184.246/moodle" target="_blank">
            Go to site
            </a>
         </div>
      </div>
   </div>
   </div>
   <div class="row">
   <div class="container py-5">
      <div class="row">
         <div class="col-sm-12 text-center service-head">
            Products
            <hr>
         </div>
         <div class="col-sm-12 row service-body my-5">
            <div class="container testimonial-group">
               <div class="row text-center">
                  {% for product in product_list %}
			         	<div class="col-sm-6 col-md-3 col-lg-3">
				            <div class="card mb-4 shadow-sm prod-item">
				               <div class="card-header text-center">
				               	<a href="{% url 'lacy:product-detail' product.id%}">{{ product.name }}</a>
				               </div>
				               <div class="card-body">
				               	<img height="220" width="220" src="{{ product.image.url }}" alt="">
				               </div>
				               <div class="card-footer">
				                  <div class="card-text text-center">
				                     <h6 class="price-tag">{{ product.price }} FCFA</h6>
				                  </div>
				               </div>
				            </div>
				         </div>
			         {% endfor %}
               </div>
            </div>
         </div>
         <div class="col-sm-12 row text-center justify-content-center">
            <a href="{% url 'lacy:products' %}" class="px-5 btn btn-orange">
            All Products
            </a>
         </div>
      </div>
   </div>
</main>
{% endblock content %}

