{% extends "lacy/base.html" %}
{% load static %}
{% block title %}
LaCy - Home
{% endblock title %}

{% block content %}

      <section style="background: url('/static/lacy/img/photogrid.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
        <div class="container">
          <!-- Carousel Start-->
          <div class="home-carousel">
            <div class="dark-mask mask-primary"></div>
            <div class="container">
              <div class="homepage owl-carousel">
                <div class="item">
                  <div class="row">
                    <div class="col-md-5 text-right">
                      <p><img src="{% static 'lacy/img/logo1.png' %}" alt="" class="ml-auto"></p>
                      <h1>Cybersecurity Laboratory of ENSPY</h1>
                      <p>products. IT services. Enterprises.<br>Online. courses. Enjoy. </p>
                    </div>
                    <div class="col-md-7"><img src="{% static 'lacy/img/logo1.png' %}" alt="" class="img-fluid"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-7 text-center"><img src="{% static 'lacy/img/template-mac.png' %}" alt="" class="img-fluid"></div>
                    <div class="col-md-5">
                      <h2>Services</h2>
                      <ul class="list-unstyled">
                        <li>Enterprise Services</li>
                        <li>Online Services</li>
                        <li>Source code analysis, Encryption, Digital signature</li>
                        <li>For some services you need to contact us</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-5 text-right">
                      <h1>Courses</h1>
                      <ul class="list-unstyled">
                        <li>Enjoy listening courses online</li>
                        <li>Many topics</li>
                        <li>do practical work and many tests</li>
                      </ul>
                    </div>
                    <div class="col-md-7"><img src="{% static 'lacy/img/template-easy-code.png' %}" alt="" class="img-fluid"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-7"><img src="{% static 'lacy/img/template-easy-customize.png' %}" alt="" class="img-fluid"></div>
                    <div class="col-md-5">
                      <h1>Products</h1>
                      <ul class="list-unstyled">
                        <li>Varied ranges of products of your choice</li>
                        <li>Choose your own means of delivery</li>
                        <li>You can only love</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel End-->
        </div>
      </section>
      <section class="bar background-white">
	    <div class="heading text-center">
            <h2>We offer</h2>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="box-simple">
                <div class="icon-outlined"><i class="fas fa-box-open"></i></div>
                <h3 class="h4">products</h3>
                <p>LaCy offers you various product varieties: Log Management software, Intrusion prevention system known as IPS, Intrusion detection system known as IDS... All this available on our platform</p>
                <a href="{% url 'lacy:products' 1%}" class="btn btn-template-main">See products</a>
			        </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="box-simple">
                <div class="icon-outlined"><i class="fas fa-chalkboard-teacher"></i></div>
                <h3 class="h4">Courses</h3>
                <p>You have from this platform a range of courses you can take part in. Cultivate yourself and have a good time at LaCy courses</p>
                <a href="http://209.97.183.5/moodle" class="btn btn-template-main">See Courses</a>
			        </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="box-simple">
                <div class="icon-outlined"><i class="fas fa-hands-helping"></i></div>
                <h3 class="h4">services</h3>
                <p>In terms of services, LaCy provides businesses and individuals with services such as cybersurveillance, source code analysis, cyber-intelligence and academic internships. Enjoy it!</p>
                <a href="{% url 'lacy:services' 0%}" class="btn btn-template-main">See services</a>
			  </div>
            </div>
           
          </div>
        </div>
      </section>


      <!-- GET IT-->
{% endblock content %}
