{% extends "lacy/base.html" %}

{% block title %}
LaCy - Products
{% endblock title %}

{% block content %}
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Products</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                <li class="breadcrumb-item active">Products</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-3">
              <!-- MENUS AND FILTERS-->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm category-menu">
                    {% for category in category_list %}
                      {% if category.id == theCategory%}
                        <li class="nav-item"><a href="{% url 'lacy:products' category.id %}" class="nav-link active d-flex align-items-center justify-content-between"><span>{{category.name}} </span><span class="badge badge-secondary">{{category.nb_products}}</span></a></li>
                      {% else %}
                        <li class="nav-item"><a href="{% url 'lacy:products' category.id %}" class="nav-link d-flex align-items-center justify-content-between"><span>{{category.name}} </span><span class="badge badge-secondary">{{category.nb_products}}</span></a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading d-flex align-items-center justify-content-between">
                  <h3 class="h4 panel-title">Filters</h3>
                </div>
                <div class="filter-price p-t-22 p-b-50 bo3">
    
                  <div class="wra-filter-bar">
                    <div id="filter-bar"></div>
                  </div>
                </div>    
    
                <div class="search-product pos-relative bo4 of-hidden">
                  <input id="search_input" onkeyup="search()" class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Products...">
                </div>                
              </div>              
            </div>
            <div class="col-md-9">
              
              <div class="row products products-big" id ="list_products">
                {% for product in product_list %}
                <div class="col-lg-4 col-md-6 prodelement">
                  <div class="product">
                    <div class="image"><a href="{% url 'lacy:product_detail' product.id %}"><img src="{{ product.image.url }}" alt="" class="img-fluid image1"></a></div>
                    <div class="text">
                      <h3 class="h5"><a href="{% url 'lacy:product_detail' product.id%}">{{ product.name }}</a></h3>
                      <p class="price">{{ product.price }} FCFA</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>                            
            </div>
          </div>
        </div>
      </div>
{% endblock content %}