{% extends "lacy/base.html" %}
{% load static %}
{% block title %}
LaCy - Service-detail
{% endblock title %}

{% block content %}
<script src="{% static 'lacy/vendor/jquery/jquery.min.js' %}"></script>
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">{{service.name}}</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                    {% if category == 0 %}
                    <li class="breadcrumb-item"><a href="{% url 'lacy:services' 0 %}">Enterprise Services</a></li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'lacy:services' 1 %}">Personal Services</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active">{{service.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <!-- LEFT COLUMN _________________________________________________________-->
            <div class="col-lg-9">
                <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll to service
                    description</a></p>
                <div id="productMain" class="row">
                    <div class="col-sm-6">
                        <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
                            <div>
                                {%if service.image %}
                                <img src="{{ service.image.url }}" alt="" class="img-fluid">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            {% if service.price and service.price != 0.0 %}
                            <form method="post" action="{% url 'lacy:addToCart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_type" value="P_SERVICE" />
                                <input type="hidden" name="item_id" value="{{ service.id }}" />
                                <input type="hidden" name="quantity" value="1" />

                                <div class="sizes">
                                    <h3>Choose your period</h3>
                                    <select id="sub_period" class="bs-select">
                                        {% for sub in subscriptions %}
                                        <option value="{{sub.period.duration}}">
                                            {{sub.period.duration}} day{{ sub.period.duration|pluralize }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    {% for sub in subscriptions %}
                                        {% if sub.period.duration == 1 %}
                                            <p class="price" id="elt{{sub.period.duration}}">{{ sub.price }} Frs</p>
                                        {% else %}
                                            <p class="price" style="display:none;" id="elt{{sub.period.duration}}">
                                                {{ sub.price }} Frs
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <p class="text-center">
                                    <button type="submit" class="btn btn-template-outlined"><i
                                            class="fa fa-shopping-cart"></i> Add to cart
                                    </button>
                                </p>
                            </form>
                            <script>
                                $("#sub_period").on("change", function() {
                                    id = $(this).val();
                                    console.log(id)
                                    $("#elt" + id).show().siblings().hide()
                                });
                            </script>
                            {% else %}
                            <h3>Contact-Us for this service</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="details" class="box mb-4 mt-4">
                    <blockquote class="blockquote">
                        <p class="mb-0"><em>{{ service.description|safe }}</em></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- MENUS AND FILTERS-->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Others services</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills flex-column text-sm category-menu">
                            <ul class="nav nav-pills flex-column">
                                {% for service_elt in others_services %}
                                {% if service_elt.id != service.id %}
                                <li class="nav-item"><a href="{% url 'lacy:service_detail' category service_elt.id %}"
                                                        class="nav-link">{{service_elt.name}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}