{% extends "lacy/base.html" %}

{% block title %}
LaCy - Services
{% endblock title %}

{% block content %}
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Services</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                {% if category == 0 %}
                  <li class="breadcrumb-item">Enterprise Services</li>
                {% else %}
                  <li class="breadcrumb-item">Personal Services</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-3">
              <!-- MENUS AND FILTERS-->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm category-menu">
                    {% if category == 0 %}
                      <li class="nav-item"><a href="{% url 'lacy:services' 0%}" class="nav-link active d-flex align-items-center justify-content-between"><span>Enterprise Services  </span><span class="badge badge-light">{{number1}}</span></a>
                      </li>
                      <li class="nav-item"><a href="{% url 'lacy:services' 1 %}" class="nav-link d-flex align-items-center justify-content-between"><span>Personal Services  </span><span class="badge badge-secondary">{{number2}}</span></a>
                      </li>
                    {% else %}
                      <li class="nav-item"><a href="{% url 'lacy:services' 0%}" class="nav-link d-flex align-items-center justify-content-between"><span>Enterprise Services  </span><span class="badge badge-light">{{number1}}</span></a>
                      </li>
                      <li class="nav-item"><a href="{% url 'lacy:services' 1 %}" class="nav-link active d-flex align-items-center justify-content-between"><span>Personal Services  </span><span class="badge badge-secondary">{{number2}}</span></a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading d-flex align-items-center justify-content-between">
                  <h3 class="h4 panel-title">Filters</h3>
                </div>
                <div class="filter-price p-t-22 p-b-50 bo3">

                  <div class="wra-filter-bar">
                    <div id="filter-bar"></div>
                  </div>
                </div>

                <div class="search-product pos-relative bo4 of-hidden">
                  <input id="search_input" onkeyup="search()" class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Services...">
                </div>
              </div>
            </div>
            <div class="col-md-9">

              <div class="row products products-big" id ="list_products">
                {% for service in service_list %}
                  <div class="col-lg-4 col-md-6 prodelement">
                    <div class="product">
                      {% if service.image %}
                        <div class="image"><a href="{% url 'lacy:service_detail' category service.id %}"><img src="{{ service.image.url }}" alt="" class="img-fluid image1"></a></div>
                      {% endif %}
                      <div class="text">
                        <h3 class="h5"><a href="{% url 'lacy:service_detail' category service.id %}">{{ service.name }}</a></h3>
                        {% if not service.price or service.price == 0.0 %}
                          <p class="price"></p>
                        {% else %}
                          <p class="price">{{ service.price }} Frs per day</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}