{% extends "lacy/base.html" %}

{% block title %}
LaCy - Cart
{% endblock title %}

{% block script %}
<script>
   $(function(){
       $(".cart-product").each(function(){
            var price = parseFloat($(".cart-price", this).text())
            var qty = parseFloat($("input[type=number]", this).val())
            var subtotal = price * qty
            $(".cart-subtotal", this).text(subtotal)
       });
       $("a.delete-btn").each(function(){
            $(this).click(function(e){
                e.preventDefault();
                res = confirm("Are you sure you want to remove this item from cart ?");
                if(res)
                    window.location = $(this).attr('href')
            })
       });
   })
</script>
{% endblock script %}

{% block content %}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Shopping Cart</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Shopping Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-lg-12">
                <p class="text-muted lead">You currently have {{ cart.items|length }} item(s) in your cart.</p>
            </div>
            <div id="basket" class="col-lg-9">
                <div class="box mt-0 pb-0 no-horizontal-padding">
                    <form method="post" action="{% url 'lacy:updateCart'%}">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2">Item</th>
                                    <th>Unit price (XAF)</th>
                                    <th>Quantity</th>
                                    <th>Subtotal (XAF)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in cart.items reversed %}
                                    <tr class="cart-product">
                                        <td>
                                            <a href="#">
                                                <img src="{{ item.data.image }}" alt="{{ item.data.name }}" class="img-fluid">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#">{{ item.data.name }}</a>
                                        </td>
                                        <td class="cart-price">{{ item.data.price }}</td>
                                        <td>
                                            <input type="number" name="{{ item.type }}-{{ item.data.id }}" value="{{ item.quantity }}" min="1" class="form-control">
                                        </td>
                                        <td class="cart-subtotal"></td>
                                        <td>
                                            <a href="{% url 'lacy:removeFromCart' item.type item.data.id %}" class="delete-btn btn btn-template-outlined" style="color: #ffa726" title="Remove this item from cart">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="4">Total</th>
                                    <th colspan="2">{{ cart.amount }} XAF</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="box-footer d-flex justify-content-between align-items-center">
                            <div class="left-col"><a href="{% url 'lacy:products' 1 %}"
                                                     class="btn btn-secondary mt-0"><i class="fa fa-chevron-left"></i>
                                Continue shopping</a></div>
                            <div class="right-col">
                                <button type="submit" class="btn btn-secondary"><i class="fa fa-refresh"></i> Update cart</button>
                                <button class="btn btn-template-outlined">Proceed to checkout <i
                                        class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="order-summary" class="box mt-0 mb-4 p-0">
                    <div class="box-header mt-0">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have
                        entered.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>{{ cart.amount }} XAF</th>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <th>0.0 XAF</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>{{ cart.amount }} XAF</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}