{% extends "lacy/base.html" %}

{% block title %}
LaCy - Product details
{% endblock title %}

{% block content %}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">{{ product.name }}</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lacy:products' product.category.id %}">
                        {{ product.category }}</a></li>
                    <li class="breadcrumb-item"><a href="#">{{ product.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <!-- LEFT COLUMN _________________________________________________________________-->
            <div class="col-lg-9">
                <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll to product
                    details</a></p>
                <div id="productMain" class="row">
                    <div class="col-sm-6">
                        <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
                            <div><img src="{{ product.image.url }}" alt="" class="img-fluid"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <form method="post" action="{% url 'lacy:addToCart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_type" value="PRODUCT" />
                                <input type="hidden" name="item_id" value="{{ product.id }}" />
                                <input type="hidden" name="quantity" value="1" />
                                <p class="price">{{ product.price }} XAF</p>
                                <p class="text-center">
                                    <button type="submit" class="btn btn-template-outlined"><i
                                            class="fa fa-shopping-cart"></i> Add to cart
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="details" class="box mb-4 mt-4">
                    <p></p>
                    <h4>Product details</h4>
                    <p>{{ product.description }}</p>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- MENUS AND FILTERS-->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Categories</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills flex-column text-sm category-menu">
                            {% for category in category_list %}
                            {% if category.id == product.category.id %}
                            <li class="nav-item"><a href="{% url 'lacy:products' category.id %}"
                                                    class="nav-link active d-flex align-items-center justify-content-between"><span>{{category.name}} </span><span
                                    class="badge badge-secondary">{{category.nb_products}}</span></a></li>
                            {% else %}
                            <li class="nav-item"><a href="{% url 'lacy:products' category.id %}"
                                                    class="nav-link d-flex align-items-center justify-content-between"><span>{{category.name}} </span><span
                                    class="badge badge-secondary">{{category.nb_products}}</span></a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}