{% extends "lacy/base.html" %}

{% block title %}
LaCy - Team
{% endblock title %}

{% block content %}
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Our Team</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                <li class="breadcrumb-item active">Our Team</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <section class="bar mb-0">
            <div class="row">
              <div class="col-md-12">
                <div class="heading">
                  <h2>Who is responsible for LaCy?</h2>
                </div>
                <p class="lead">ladies and gentlemen here is our team </p>
                <div class="row text-center">
                  <div class="col-md-6">
                    <div data-animate="fadeInUp" class="team-member">
                        <div class="team-member">
                            <div class="image"><a href="#"></div>
                            <h3><a href="#">Dr. MANI</a></h3>
                            <p class="role">Founder</p>                      
                        </div>
                    </div>
                  </div>
                  <!-- /.team-member-->
                  <div data-animate="fadeInUp" class="col-md-6">
                    <div class="team-member">
                      <div class="image"><a href="#"></div>
                      <h3><a href="#">M. MINKA</a></h3>
                      <p class="role">Co-Founder</p>                      
                    </div>
                  </div>
                  <!-- /.team-member-->                  
                </div>
                <div class="row text-center">
                  <div class="col-md-2 col-sm-3">
                    <div data-animate="fadeInUp" class="team-member">                      
                      <h3><a href="#">Biyong Dieudonné</a></h3>
                      <p class="role">Developer</p>
                    </div>
                  </div>
                  <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">                      
                      <h3><a href="#">Chantal Andin</a></h3>
                      <p class="role">Developer</p>
                    </div>
                  </div>
                  <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">                      
                      <h3><a href="#">Jeatsa Toulepi</a></h3>
                      <p class="role">Developer</p>
                    </div>
                  </div>
                  <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">                      
                      <h3><a href="#">Jotio Joseph</a></h3>
                      <p class="role">Developer</p>
                    </div>
                  </div>
                  <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">                      
                      <h3><a href="#">Kouam Josiane</a></h3>
                      <p class="role">Developer</p>
                    </div>
                  </div>
                  <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">                      
                      <h3><a href="#">Kouogang Kamdem</a></h3>
                      <p class="role">Developer</p>
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-2 col-sm-3">
                      <div data-animate="fadeInUp" class="team-member">                      
                        <h3><a href="#">Moutombi Alex</a></h3>
                        <p class="role">Developer</p>
                      </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                      <div class="team-member">                      
                        <h3><a href="#">Ogolong Charles</a></h3>
                        <p class="role">Developer</p>
                      </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                      <div class="team-member">                      
                        <h3><a href="#">Tchounkeu Adrien</a></h3>
                        <p class="role">Developer</p>
                      </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                      <div class="team-member">                      
                        <h3><a href="#">Tedem Momo</a></h3>
                        <p class="role">Developer</p>
                      </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                      <div class="team-member">                      
                        <h3><a href="#">Wafo Wambo</a></h3>
                        <p class="role">Developer</p>
                      </div>
                    </div>
                    <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                      <div class="team-member">                      
                        <h3><a href="#">Yong Biboum</a></h3>
                        <p class="role">Developer</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </div>        
      </div>
{% endblock content %}