{% extends "lacy/base.html" %}

{% block title %}
  LaCy - Login
{% endblock title %}

{% block content %}
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Sign In</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                <li class="breadcrumb-item active">Sign In</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="content">
        <div class="container py-4" id="content">
          <div class="row justify-content-center mb-3 py-5">
            <div class="col-md-5 col-sm-8 card sign-in">
              <form method="post" class="needs-validation card-body" action="{% url 'account_login' %}" novalidate>
                  {% csrf_token %}
                  <div class="form-row justify-content-center my-3">
                     <div class="service-title">
                        <h1>Sign In</h1>
                     </div>
                  </div>
                  {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                  {% endif %}
                  <div class="form-row">
                     <div class="col-md-12 mb-3">
                        <input type="email" class="form-control" name="login" id="email" placeholder="Email" required>
                        <div class="invalid-feedback">
                           Email required.
                        </div>
                     </div>
                     
                     <div class="col-md-12 mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        <div class="invalid-feedback">
                           Password is required.
                        </div>
                     </div>
                  </div>
                  <div class="form-row justify-content-center my-3">
                     <button class="btn btn-template-outlined" id="register" type="submit">Sign In</button>
                  </div>
                  <div class="form-row justify-content-center my-3">
                     <p>Not yet a member? <a href="{% url 'account_login' %}">Sign Up</a></p>
                  </div>
               </form>
             </div>
           </div>
         </div>
       </div>
{% endblock content %}