{% extends "lacy/base.html" %}

{% block title %}
	LaCy - Login
{% endblock title %}

{% block content %}
	<main role="main" class="orange">
	   <div class="container py-4" id="content">
	   <div class="row justify-content-center my-5">
	      <div class="col-md-4 col-sm-8 card sign-in">
	         <form method="post" class="needs-validation card-body" novalidate>
				{% csrf_token %}
	            <div class="form-row justify-content-center my-3">
	               <div class="service-head">
	                  <h1>Login</h1>
	               </div>
	            </div>
	            {% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									{{ error }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
				 {% endif %}
	            <div class="form-row">
	               <div class="col-md-12 mb-3">
	                  <input type="email" name="login" class="form-control" id="validationCustom01" placeholder="Email" >
	               </div>
	               <div class="col-md-12 mb-3">
	                  <input type="password" name="password" class="form-control" id="validationCustom02" placeholder="Password">
	               </div>
	            </div>
	            <div class="form-row justify-content-center my-3">
	               <button class="btn btn-orange" type="submit">Submit</button>
	            </div>
	            <div class="form-row justify-content-center my-3">
	               <p>Don’t have an account? <a href= "{% url 'account_signup' %}">Sign Up</a></p>
	            </div>
	         </form>
	      </div>
	   </div>
	   </div>
	</main>
{% endblock content %}