{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
	<h1 class="mt-2">{% trans "Sign Out" %}</h1>
	<hr class="mt-0 mb-4">
	<p>{% trans 'Are you sure you want to sign out?' %}</p>
	<form method="post" action="{% url 'account_logout' %}" class="mb-2">
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	  {% endif %}
	  <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
	</form>
</div>


{% endblock %}
