{% extends "lacy/base.html" %}

{% block title %}
	LaCy - Register
{% endblock title %}

{% block content %}


<main role="main" class="orange">
   <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">New Account</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'lacy:home' %}">Home</a></li>
                <li class="breadcrumb-item active">New Account</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

   <div class="container py-4" id="content">
   <div class="row justify-content-center mb-3 py-5">
      <div class="col-md-5 col-sm-8 card sign-in">
         <form method="post" class="needs-validation card-body" action="{% url 'account_signup' %}" novalidate>
            {% csrf_token %}
            <div class="form-row justify-content-center my-3">
               <div class="service-title">
                  <h1>Sign up</h1>
               </div>
            </div>
            {% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									{{ error }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
            {% endif %}
            <div class="form-row">
               <div class="col-md-12 mb-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                  <div class="invalid-feedback">
                     Email required.
                  </div>
               </div>
               <div class="col-md-12 mb-3">
                  <input type="text" class="form-control" name="first_name" id="f-name" placeholder="First Name"  required>
                  <div class="invalid-feedback">
                     First Name required.
                  </div>
               </div>
               <div class="col-md-12 mb-3">
                  <input type="text" class="form-control" name="last_name" id="l-name" placeholder="Last Name"  required>
                  <div class="invalid-feedback">
                     Last Name required.
                  </div>
               </div>
               <div class="col-md-12 mb-3">
                  <input type="password" class="form-control" name="password1" id="password" placeholder="Password" required>
                  <div class="invalid-feedback">
                     Password is required.
                  </div>
               </div>
               <div class="col-md-12 mb-3">
                  <input type="password" class="form-control" name="password2" id="confpassword" placeholder="Confirm Password" required>
                  <div class="invalid-feedback">
                     Password is not identical
                  </div>
               </div>
            </div>
            <div class="form-row justify-content-center my-3">
               <button class="btn btn-template-outlined" id="register" type="submit">Register</button>
            </div>
            <div class="form-row justify-content-center my-3">
               <p>Already have an account? <a href="{% url 'account_login' %}">Sign In</a></p>
            </div>
         </form>
      </div>
   </div>
   </div>
</main>


{% endblock content %}